.configRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.configRow::after {
  content: "";
  display: table;
  clear: both;
}
.configRow .col {
  display: flex;
  padding: 10px 0;
  align-items: center;
}
.configRow .col.description {
  float: left;
  padding-right: 15px;
  flex-grow: 1;
}
.configRow .col.action {
  float: right;
  text-align: right;
}
button.switch {
  align-items: center;
  border: 0px;
  border-radius: 50%;
  background-color: rgba(var(--spice-rgb-shadow), 0.7);
  color: var(--spice-text);
  cursor: pointer;
  display: flex;
  margin-inline-start: 12px;
  padding: 8px;
  margin-right: -12px;
}
button.switch.disabled,
button.switch[disabled] {
  --color: rgba(var(--spice-rgb-text), 0.3);
}

.select {
  margin-right: -12px;
  background-color: rgba(var(--spice-rgb-shadow), 0.7);
  padding: 4px;
  outline: none;
  border: none;
}

.sep {
  margin: 0px auto;
  height: 1px;
  width: calc(100% - 16px);
  background-color: rgba(var(--spice-rgb-selected-row), 0.2);
}
